<!doctype html>
<html lang="kr" data-bs-theme="auto">
<head>
    <script src="/public/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>로그인</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/public/css/sign-in.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary text-center">


<%- include('./partials/color-mode') %>


<main class="form-signin w-100 m-auto">
    <form class="p-4 border mb-4 rounded" id="registerForm">
        <img class="mb-2" src="/public/images/ar-logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">로그인</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="userId" placeholder="아이디 입력">
            <label for="userId">아이디</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">비밀번호</label>
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                로그인 상태 유지
            </label>
        </div>


        <button class="btn btn-primary w-100 py-2" type="submit">로그인</button>

    </form>
    <script src="/public/js/sign-in.js"></script>

    <div class="d-flex justify-content-center">
        <a href="/find-password" class="text-decoration-none text-body-secondary me-3">비밀번호 찾기</a>
        <p class="text-body-secondary me-3">|</p>
        <a href="/find-id" class="text-decoration-none text-body-secondary me-3">아이디 찾기</a>
        <p class="text-body-secondary me-3">|</p>
        <a href="/auth/sign-up" class="text-decoration-none text-body-secondary">회원가입</a>
    </div>

    <%- include('./partials/copyright.ejs') %>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
